:root{
	--primary-color:#fff;
	--secondary-color:#000100;
	--pg-color:#aeaeae;
	--bg-color:#a18659;
}
:root{
	--main-font:'Playfair Display', serif;
	--primary-font:'Inter', sans-serif;
	--secondary-font:'Assistant', sans-serif;
	--page-title-font:'Barlow', sans-serif;
}
/*----------------------common css---------------*/
/*----------------------gn-haed------------------*/
.gn-head{
	font-family: var(--primary-font);
	font-size: 32px;
	font-weight: 700;
	color: #242424;
}
/*----------------------gn-pgh------------------*/
.gn-pgh{
	font-family: var(--primary-font);
	font-size: 16px;
	font-weight: 300;
	color: #6c6c6c;
	margin: 0px 0px 10px 0px;
	text-align: justify;
}
.clr-pad{
  padding: 0px 0px !important;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
}
.clr-spc0{
	padding: 0px;
}
/*-----------------header section-----------*/
.section-header{
	top: 0px;
	position: absolute;
	display: block;
	z-index: 999;
	width: 100%;
}
.section-slider{
	position: relative;
	width:100%;
}
.page-navbar{
	background-color: #000000;
}
/*-----------common section------------*/
.section-header2{
	background-color: #eebc63;
}
.section-header .navbar-toggler{
	border: none;
}
.navbar-toggler:focus,
.navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}
.respo-img{
  margin-right: auto;
  padding-left: 0;
}
.page-section-header {
	position: relative;
	min-height: 350px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}
.page-section-header:before{
	content: '';
	position: absolute;
	background-color: rgba(0,0,0,.3);
	width: 100%;
	height: 100%;
}
.page-contact{
	background-image: url('../images/page-banner/tech-ply-4.jpg');
}
.page-about{
	background-image: url('../images/page-banner/tech-ply-1.jpg');
}
.page-product{
	background-image: url('../images/page-banner/tech-ply-3.jpg');
}
.page-brochures{
	background-image: url('../images/page-banner/tech-ply-banner5.jpg');
}
.page-section-header h3{
	font-family: var(--page-title-font);
	font-weight: bold;
	font-size: 36px;
	color:#fff;
	z-index: 99;
}
.hd-contact-li{
	list-style-type: none;
	font-family: var(--page-title-font);
	color:var(--secondary-color);
	vertical-align: middle;
	background-color: #eebc63;
	padding: 5px 10px;
}
.hd-contact-li a{
	text-decoration: none;
	color:var(--secondary-color);
}
.hd-contact-li a p{
  font-size: 18px;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  font-family: var(--page-title-font);
  font-weight: 500;
  text-decoration: none;
  margin: 0px;
  display: grid;
}
.hd-contact-li li a i {
    font-size: 12px;
    margin: 0px 5px 0px 0px;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 5px;
    /* width: 20px; */
    /* height: 20px; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.section-title{
	display: block;
	margin: 0px 0px 20px 0px;
}
.section-title h2{
	font-family: var(--page-title-font);
	font-size: 42px;
	color:#242424;
	font-weight: 800;
	margin: 0px 0px 10px 0px;
}
.section-title h3{
	font-family: var(--page-title-font);
	font-size: 28px;
	color:#242424;
	font-weight: 600;
	margin: 0px 0px 10px 0px;
}
.section-title p{
	font-family: var(--secondary-font);
	font-size: 19px;
	color: #748196;
}
.contact-us{
	padding: 60px 0px;
	position: relative;
	display: block;
}
.my-btn{
    top:30%;
    position:fixed;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    /* transform: rotate(-90deg); */
    display: block;
    font-size: 12px;
    padding: 18px 10px 10px;
    width: 144px;
    height: 53px;
    line-height: 1.2;
    box-shadow: -3px 0 6px rgba(0,0,0,.16);
    background-color: red;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-family: var(--primary-font);
    z-index: 99;
}
/*-----------navbar section------------*/

.menu-cell li{
 	margin: 0px 10px;
}
.menu-cell li a{
	font-family: var(--page-title-font);
  font-size: 16px;
  text-transform: capitalize;
	font-weight:500;
	color: #f3f3f3 !important;
}

.sticky-nav {
  width: 100%;
  transition: all 0.6s ease-in-out;
}
.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  animation: fadeInDown 0.9s ease-in-out;
  background: #000; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}
/*-----------slider section------------*/
.section-slider{
	position: relative;
	position: 0px 0px 60px 0px;
}
.carousel-caption{
	top:34%;
	text-align: left;
}
.slider-head{
	font-family: var(--secondary-font);
	font-size: 12px;
	color: #b19c76;
	margin: 0px 0px 20px 0px;
	letter-spacing: 2px;
}
.slider-mainhead{
	font-size: 38px;
	color: #fff;
	font-weight: 600;
	font-family: var(--main-font);
}
.slider-mainhead1{
	font-size: 38px;
	color: #fff;
	font-family: var(--main-font);
	margin: 0px 0px 25px 0px;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-top: -60px;
}
.slider-pgh{
	font-size: 14px;
	color: #f3f3f3;
	font-family: var(--primary-font);
	margin: 0px 0px 20px 0px;
}
.btn-slider{
	font-family: var(--secondary-font);
  background-color: #c2a36e;
	border: none;
  padding: 0.530rem 1.88rem;
	border-radius: 0;
	color: #f0ede8;
	font-size: 14px;
}

.btn-slider span{
	margin:0px 0px 0px 10px;
	color: #f0ede8;
	font-size: 14px;
}
.page-banner{
	position: relative;
	min-height: 300px;
	background-color: teal;
}
.wavesshape {
    bottom: -2px;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
    width: 100%;
    height: auto;
    z-index: 1;
}
/*-----------------aboutus section-----------*/
.section-about-us{
	padding: 60px 0px;
	display: block;
	position: relative;
}
.abiut_images_main {
    width: 100%;
    position: relative;
}

img.image_1 {
    width: 50%;
    float: right;
    position: relative;
}

img.image_2 {
    width: 69%;
    float: left;
    position: absolute;
    top: 110px;
    left: 10px;
}

.main {
    width: 100%;
    float: right;
    text-align: right;
}

img.image_3 {
    width: 70%;
    float: right;
    padding-top: 60px;
    padding-left: 100px;
}


.about-image{
	position: relative;
}
.about-image img{
	width: 100%;
	padding: 20px 20px;
}
.about-image::before{
	content: '';
	position: absolute;
  z-index: -1;
  top:-20px;
  left:-20px;
  height: 0;
	border: 0 solid transparent;
	border-bottom-width: 350px;
	border-top-width: 0px;
	border-left: 350px solid #eebc63;
}
.about-us-des h4 {
  font-family: var(--secondary-font);
  margin: 0px 0px 20px 0px;
  color: #eebc63;
  text-align: left;
  font-size: 14px;
  max-width: 600px;
  font-weight: 500;
  letter-spacing: 4px;
  position: relative;
}
.about-us-des h4:after {
	content: "";
	width: 60px;
	height: 1px;
	background: #eebc63;
	left: 20%;
	top: 50%;
	position: absolute;
}
.about-div h3{
	font-family: var(--primary-font);
  margin: 0px 0px 20px 0px;
  text-align: left;
  font-size: 22px;
  max-width: 600px;
  font-weight: 500;
  position: relative;
  color:#4a4a4a;
}
.about-us-des{
	text-align: left;
	position: relative;
	display: block;
	margin: 0px 0px 30px 0px;
}
.about-us-des h2{
	position: absolute;
	top:-20px;
	color:#3f3f3f24;
	font-size: 40px;
}
.about-us-des p{
	position: relative;
	display: block;
	font-size: 14px;
	max-width: 500px;
	text-align: justify;
	margin: 0px 0px 20px 0px;
	float: right;
}

/*------------------ABOUT US SECTION 2-------*/

.aboutus{
	padding: 60px 0px;
	position: relative;
}
.aboutusheader p{
  font-family: var(--primary-font);
	font-size: 15px;
	font-weight: 400;
	color: #6c6c6c;

	text-align: center;
	justify-content: centre;
}
.aboutus2{
	padding: 60px 0px;
	position: relative;
}
.double{
	position: relative;
	padding: 60px 0px;
}
.myimage{
  background-image: url('../images/about/about7.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 2px solid #eebc63;
  
  transition: 0.10s ease;
}
.myimage:hover{
  background-image: url('../images/about/about8.jpg');
}
.section-vission-mission h3{
  text-align: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
}
.quoteimage{
	padding: 60px 0px;
	position: relative;
}
.quoteimage{
	background-image: url('../images/page-banner/01.jpg');
	min-height: 400px;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}
.qoute-section img{
	height: 160px;
	width: 160px;
	margin: 50px 30px 80px 50px;
}
.quotetext p{
	text-align: center;
	font-family: var(--main-font);
	font-size: 18px;
	font-weight: 400;
	color: #6c6c6c;
	margin: 0px auto;
	text-align: center;
	justify-content: centre;
}
/*-----------------exterior section----------*/
.exterior-section{
	padding: 60px 0px;
	position: relative;
}
.tech-ply-div{
	padding: 40px 0px;
}
.exterior-sub h4{
  font-family: var(--secondary-font);
  margin: 60px 60px 20px 0px;
  color: #eebc63;
  font-size: 14px;
  text-align: right;
  max-width: 600px;
  font-weight: 500;
  letter-spacing: 4px;
}
.exterior-sub h3{
	text-align: right;
	margin: 0px 60px 0px 0px;
}
.exterior-img{
	display: flex;
}
.exterior-sub P{
	margin: 20px 60px 0px 0px;
	text-align: right;
}
.btn-details1{
	text-align: center;
	justify-items: center;
	justify-content: centre;
	margin: 0px 60px 0px 254px;
}
.btn-details{
	text-align: center;
	justify-items: center;
}
.exterior-sub {
  border-right: 1px solid #d5d3cf;
  height: 50%;
  width: 100%;
}
.interior-sub {
  border-left: 1px solid #eebc63;
  height: 50%;
  width: 100%;
  padding: 0px 30px;
  margin: 0px 0px 20px 0px;
}
.interior-sub h4{
  font-family: var(--secondary-font);
  color: #eebc63;
  font-size: 14px;
  text-align: left;
  max-width: 600px;
  font-weight: 500;
  letter-spacing: 4px;
  margin: 0px 0px 20px 0px;
}
.interior-sub h3{
	text-align: left;
	font-family: var(--page-title-font);
	margin: 0px 0px 10px 0px;
}
.interior-sub P{
	font-size: 14px;
	text-align: left;
	font-family: var(--primary-font);
	margin: 0px 0px 10px 0px;
}
.interior-sub a{
	border: solid 1px rgba(36,36,36,.34);
	font-size: 14px;
	font-family: var(--primary-font);
}
.interior-sub a i{
	color:#eebc63;
	margin: 0px 10px 0px 0px;
}

/*-------------------part section---------------------*/
.section-part{
	position: relative;
	display: block;
}
.left-wrapper{
  position: relative;
	display:block;
	overflow: hidden;
	background-color: #5b543e;
}
.left-wrapper img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.left-caption{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.left-caption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(0,0,0,.63);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.left-caption h2,
.left-caption p {
	font-family: var(--page-title-font);
  margin: 0 0 10px 0px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  color:#fff;
  width:100%;
  
}
.left-caption h2 {
	font-family: var(--page-title-font);
  /* word-spacing: -0.15em; */
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.left-caption h2 span {
  font-weight: 800;
}
.left-caption p {
  font-weight: 400;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  font-size: 14px;
}
.left-wrapper:hover img {
  opacity: 0.3;
}
.left-wrapper:hover .left-caption::before {
  background-color: rgba(0,0,0,.63);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.left-wrapper:hover .left-caption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.left-wrapper:hover .left-caption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/*-----------------sale section--------------*/
.sale{
	position: relative;
	overflow: hidden;
}
.sale img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.sale-box{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.sale:hover img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
.sale-box h3{
 	opacity: 1;
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  color:#fff;
}
.sale-box:hover h3{
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);

}
.sale-box a {
	opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 7px 20px;
  border-radius: 0;
  font-family: var(--secondary-font);
  color: #fff;
  font-weight: 500;
  border:solid 2px #eebc63;
}

.sale-box:hover a {
  opacity: 1;
  filter: alpha(opacity=0);
  
}
/*-----------------product section-----------*/
.section-product{
	padding: 60px 0px;
	display: block;
	position: relative;
}
.product-us-des h4 {
  font-family: var(--secondary-font);
  margin: 0px 0px 10px 0px;
  color: #eebc63;
  text-align: left;
  font-size: 14px;
  max-width: 600px;
  font-weight: 500;
  letter-spacing: 4px;
  position: relative;

}
.product-us-des h4:after {
	content: "";
	width: 60px;
	height: 1px;
	background: #eebc63;
	left: 26%;
	top: 50%;
	position: absolute;
}
.product-us-des{
	text-align: left;
	position: relative;
	display: block;
	margin: 0px 0px 30px 0px;
}
.product-us-des h2{
	position: absolute;
	top:-20px;
	color: #3f3f3f24;
	font-size: 40px;
	font-family: var(--secondary-font);
}
.product{
	position: relative;
	margin: 0px 0px 20px 0px;
	display: block;
	  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
	  padding: 8px 8px;
	  border-radius: 8px;
}
.product:hover {
  transform: translateY(-10px); /* Slight lift */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Deeper shadow */
}
.product img{
  margin: 0px 0px 15px 0px;
}
.product h4{
	font-family: var(--primary-font);
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  font-weight: 600;
 	text-transform: uppercase;
 	min-height: 25px;
	text-align: center;
}
.product p{
	font-family: var(--page-title-font);
	font-size: 14px;
	margin: 0px 0px 10px 0px;
	text-align: center;
}
.btn-product {
	font-family: var(--secondary-font);
  background-color: #222222;
	border: none;
  padding: 7px 20px;
	border-radius: 6px;
	color: #f0ede8;
	margin: 0px 0px 10px 0px;
	font-size: 12px;
	min-width:120px;
	position: relative;
}
.pro-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-product:hover{
	font-family: var(--secondary-font);
	background-color: #eebc63;
	color:#2a2a2a;
}
/*-----------------Information--------------------*/

.section-information{
	position: relative;
	background-color: #c2a36e;
}
.ply-infos{
	background-color: #c2a36e;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ply-dt-info h2{
  font-family: var(--page-title-font);
  font-size: 34px;
  align-items: center;
  font-weight: 600;
  color: #f3f3f3;
}
.ply-dt-info h3{
  font-family: var(--page-title-font);
	font-size: 22px;
	font-weight: 600;
	color: #f3f3f3;
	margin: 0px 0px 10px 0px;
}
.ply-dt-info p{
  font-family: var(--page-title-font);
	font-size: 16px;
	font-weight: 300;
	color: #f3f3f3;
	margin: 0px 0px 20px 0px;
}
.ply-dt-info li{
  color: #ffffff;
  list-style: none;
  font-family: var(--page-title-font);
  margin: 0px 0px 20px 0px;
}
.ply-dt-info li p{
	margin: 0px 0px 0px 20px;
	display: inline-table;
	font-size: 16px;
}
.ply-dt-info li p span{
	display: inline-table;
	font-size: 24px;
	font-weight: bold;
}
.ply-dt-info i{
  color: #fff;
  font-size: 34px;
  list-style: none;
  vertical-align: text-top;
}
/*-----------------our mission---------------*/

.our-mission{
	position: relative;
	padding: 60px 0px;
}

/*------------------section nevon-------------*/
.section-hexagon{
	position: relative;
	padding: 60px 0px;
}
.my-hexagon::before {
  content: "\2B22";
  color: orange;
  font-size:135px;
}
.hex-head h5{
  font-size: 15px;
  text-align: center;
}
/*-----------------product details section----*/

.section-pro-detls{
	position: relative;
	padding: 60px 0px;
}
.pro-detls-head h3{
	font-size: 22px;
	padding: 0px 0px 10px 0px;
	font-family: var(--page-title-font);
}
.pro-detls-head p{
	padding: 0px 0px 10px 0px;
	font-size: 14px;
	font-family: var(--page-title-font);
}
.pro-detls-head{ 
  padding: 0px 0px 0px 20px;
  font-family: var(--page-title-font);
}
.pro-detls-head h2{
	font-size: 18px;
	font-family: var(--page-title-font);
}
.pro-detls-head select{
	font-size: 14px;
	font-family: var(--page-title-font);
}
#myform {
    text-align: center;
    background-color: #f7f7f7;
    width: 146px;
    height: 34px;
    border-radius: 31px;
    font-family: var(--page-title-font);
}
.qty {
    width: 20px;
    height: 20px;
    text-align: center;
    font-family: var(--page-title-font);
}
.qty-no{
	 margin: 7px 28px 0px 33px;
	 background-color: #f7f7f7;
	 border: none;
	 color: #8f8787;
	 text-align: center;
	 font-family: var(--page-title-font);
}
.qty-minus{
	background-color: #222222;
	border-radius: 70px;
	width: 24px;
	height: 24px;
	border: none;
	color: #ffff;
	text-align: center;
	font-family: var(--page-title-font);
}
.qty-plus{
	background-color: #eebc63;
	border-radius: 70px;
	width: 26px;
	height: 26px;
	border: none;
	color: #ffff;
	text-align: center;
	font-family: var(--page-title-font);
}
.qunty h5{
	margin: 0px 0px 7px 0px;
	font-size: 14px;
	font-family: var(--page-title-font);
}
.qunty h2{
  font-family: var(--page-title-font);
  margin: 0px 0px 20px 0px;
  color: #eebc63;
  text-align: left;
  font-size: 26px;
  max-width: 600px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
}
.price h5{
	margin: 0px 0px 8px 0px;
	font-size: 14px;
	font-family: var(--page-title-font);
}
.rateing h2{
	margin: 0px 0px 8px 0px;
	font-size: 14px;
	font-family: var(--page-title-font);
}
.rateing{
	margin: 0px 0px 10px 0px;
	text-align: center;
}
.checked {
  color: #fcb327;
}
.des-detl h5{
	margin: 0px 0px 2px 0px;
	font-size: 14px;
	color: #322626;
	font-family: var(--page-title-font);
}
.des-detls h5{
	margin: 0px 0px 2px 34px;
	font-size: 14px;
	font-family: var(--page-title-font);
}
.des-detl table td{
	color: #6c6c6c;
	padding: 0px 0px 10px 0px;
	border-width: 0px !important;
  font-family: var(--page-title-font);
}
 
hr.solid {
  border-top: 2px solid #ffa500;
  width: 165px;
  margin: 0px 0px 10px 0px;
}
hr.solidd {
  border-top: 2px solid #242424;
  width: 165px;
  margin: 0px 0px 10px 0px;
}

.box-sec li{
	font-size: 20px;
	list-style: none;
	margin: 8px 20px 0px -32px;
	width: 200px;
	height: 40px;
	font-family: var(--page-title-font);
	background-color: #bbb;
}

/*-----------------footer section------------*/

.section-footer{
	background-color: #222222 !important;
	padding: 60px 0px;
}
.footer-banner {
    background: url(../images/icons/footer.png) center center no-repeat;
    background-size: contain;
}
.footer-head h5{
	font-size: 16px;
	color: #fff;
	font-weight: 200;
	margin: 0px 0px 20px 0px;
}
.footer-head img{
	max-width: 200px;
	margin: 0px 0px 10px 0px;
}
.footer-head p{
	font-family: var(--page-title-font);
	color:#fff;
	font-size: 12px;
	max-width: 300px;
	margin: 15px 0px;
}
.footer-head i{
	background-color: #efefef;
	width: 34px;
	border-radius: 3px;
}
.media-icon{
	color: #8b4d21;
}

.footer-head{
	border-right: 1px solid #d5d3cf;
	height: 100%;
	width: 100%;
}
.footer-head li{
	list-style: none;
	float: left;
	text-align: center;
	margin: 0px 10px 0px 0px;
}
.footer-head li a i{
	padding: 10px 10px;
}
.footer-centre h2{
	font-size: 22px;
	font-family: var(--primary-font);
	border-bottom: 1px solid #d5d3cf;
	color: #fff;
	display: inline-block;
}
.branch-divider {
  margin: 0px 0px 20px 0px;
}
.branches h3{
	font-size: 16px;
	font-family: var(--primary-font);
	font-weight:400;
	padding: 0px 0px 5px 0px;
	list-style: none;
	color:#fff;
	border-bottom: 2px solid rgba(255,255,255,.2);
	margin: 0px 0px 15px 0px;
}
.branches p{
	font-size: 14px;
	font-family: var(--primary-font);
	margin: 0px 0px 10px 0px;
	color: var(--primary-color);
}
.branches li{
	font-size: 14px;
	font-family: var(--primary-font);
	list-style: none;
	color: var(--primary-color);
	padding: 10px 0px;
  border-bottom: 1px dashed #404040;
  font-weight: 300;
}
.contact-bar{
	display: block;
	margin: 0px 0px 30px 0px;
}
.contact-div{
	padding: 20px 20px;
	position: relative;
	text-align: left;
	display: flex;
  align-items:center;
  border-bottom: 1px solid #e2e8f0;
}
.contact-div:last-child{
	border: none;
}
.contact-div img{
	width: 40px;
	float: left;
	margin: 0px 20px 0px 0px;
}
.contact-list p{
	font-size: 19px;
	color:#000000;
	display: inline-block;
	vertical-align: top;
	font-family: var(--page-title-font);
	font-weight: 500;
}
.contact-list span{
	font-family: var(--primary-font);
	color: #748196;
	font-size: 16px;
	width: 100%;
}
.contact-form{
	padding: 0px 20px;
}
.contact-form label{
	font-family: var(--secondary-font);
	color: #748196;
	font-size: 14px;
}
.txt-box,.txtarea-box{
	font-family: var(--secondary-font);
	font-size: 14px;
	padding: 10px 10px;
	border-radius: 0px;
	border:solid 1px rgba(0,0,0,.09);
	min-height: 45px;
}
.txtarea-box{
	min-height: 100px !important;
}


 /* whatsapp-icon */
.chat-button {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}
.chat-button a img {
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease; 
}
.chat-button a img:hover {
  transform: scale(1.1); 
}



/* back to top */

#button-top {
  display: inline-block;
  background-color: var(--bg-color);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 27px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 41px;
  color: var(--primary-color);
}
#button-top:hover {
  cursor: pointer;
  background-color: #333;
}
#button-top:active {
  background-color: #555;
}
#button-top.show {
  opacity: 1;
  visibility: visible;
}
.div-top a{
	text-decoration: none;
}

/* Counter section */

.count{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.counter-wrapper{
  background: #333;
   background-image:url('../images/counter/co.jpg');
  background: cover;
  background-position: center;
  position: relative;
}
.counter-wrapper:after{
  content: '';
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: rgba(0,0,0,.5);
}
.counter-inner{
  position:relative;
  z-index:2;
}
.count-icon{
  font-size: 48px;
}



/* Exterior css animation */

.area{
    background: #fff;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(222, 184, 135, 0.7); 
    animation: animate 15s linear infinite;
    bottom: -150px;
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}